body {
  padding: 0 0 50px 0;
  font-family: 'Arvo', serif;
}

.titulo {
  background: url('../img/logo-simulacopa.png') no-repeat;
  width: 260px;
  height: 95px;
}

.pagina {
  color: #EFEFEF;
  font-weight: bold;
  h1 {
    font-size: 43px;
  }
}

footer {
  font-size: 10px;
  .logo {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .conteudo {
    .esquerdo, .direito {
      display: none;
    }
  }
}

.fundo-grama {
  background-image: url(../img/grama.jpg);
}

.cabecalho {
  background-color: $verde-campo;
  padding: 10px 0;
  border-bottom: 1px solid $navbar-default-border;
  div[class] {
    background-color: $fundo-cabecalho;
    padding: 5px 10px;
  }
}

.inicial {
  background-image: url(../img/fundo-inicial.jpg), $fundo-gradient;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.grupos {
  background-image: url(../img/fundo-grupos.jpg), $fundo-gradient;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.oitavas, .quartas, .semifinais, .terceiro_lugar, .final  {
  background-image: url(../img/fundo-fases.jpg), $fundo-gradient;
  background-repeat: no-repeat;
  background-position: center center;
}

.central {
  padding: 20px 20px 0 20px;
  min-height: 670px;
}

.bola {
  cursor: pointer;
  background-image: url('../img/bola.png');
  width: 70px;
  height: 64px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.ad-sense {
  padding: 10px 5px;
}

.introducao {
  margin-bottom: 20px;
  background-color: rgba(black, 0.4);
  overflow: hidden;
  position: relative;
  top: -75px;
  .texto {
    display: none;
  }
  p {
    margin: 16px 0;
    color: #EFEFEF;
    font-size: 14px;
  }
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.social {
  border-top: 1px solid $navbar-default-border;
}

.branco {
  background-color: rgba(white, .6);
  padding: 5px 0;
  overflow: hidden;
  min-height: 43px;
}

.slide-up {
  cursor: pointer;
  &:hover {

    background-color: darken($painel-header-bg, 5%);
  }
}

.partidas-index {
  .col-md-6 {
    position: relative;
    height: 60px;
  }
  .painel {
    position: absolute;
    left: 5.2%;
    width: 90%;
    bottom: -52px;
    display: none;
    .corpo-painel {
      display: none;
      color: #EFEFEF;
      height: 300px;
    }
  }
}

.aberto {
  height: 400px;
}

.barras, .barras-baixo {
  width: 50%;
  margin-bottom: -30px;
  height: 45px;
  position: relative;
  top: -105px;
  left: 25%;
  border-width: 0 15px ;
  border-style: solid;
  border-image: linear-gradient(to left, black, #AAA) 1 100%;
}

.barras-baixo {
  top: 66px;
  height: 60px;
  display: none;
}

.painel {
  background-color: rgba(black, 0.4);
  border-width: 4px;
  border-style: solid;
  border-color: #9A9A9A;
  h3 {
    background-color: $painel-header-bg;
    margin: -9px;
    padding: 7px;
    color: #ffff00;
    position: relative;
    top: 0;
  }
}