body {
  padding: 50px 0;
  font-family: 'Arvo', serif;
}

.titulo {
  background: url('../img/logo-simulacopa.png') no-repeat;
  width: 260px;
  height: 95px;
}

.pagina {
  color: #EFEFEF;
  font-weight: bold;
  h1 {
    font-size: 50px;
  }
}

footer {
  font-size: 10px;
  .logo {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .conteudo {
    .esquerdo, .direito {
      display: none;
    }
  }
}

.fundo-grama {
  background-image: url(../img/grama.jpg);
}

.cabecalho {
  background-color: $verde-campo;
  padding: 10px 0;
  border-bottom: 1px solid $navbar-default-border;
  div[class] {
    background-color: $fundo-cabecalho;
    padding: 5px 10px;
  }
}

.inicial {
  background-image: url(../img/fundo-inicial.jpg);
}

.grupos {
  background-image: url(../img/fundo-grupos.jpg);
  overflow: hidden;
}

.central {
  padding: 20px 20px 0 20px;
  min-height: 670px;
}

.bola {
  cursor: pointer;
  background-image: url('../img/bola.png');
  width: 70px;
  height: 64px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.ad-sense {
  padding: 10px 5px;
}

.introducao {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: rgba(white, .65);
  overflow: hidden;
  p {
    margin: 24px 0;
    color: #0d3a02;
    font-size: 14px;
  }
  h3 {
    background-color: rgb(0, 128, 0);
    margin: -10px -20px;
    padding: 7px;
    color: #ffff00;
    position: relative;
    top: 0;
  }
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.social {
  border-top: 1px solid $navbar-default-border;
}

.branco {
  background-color: rgba(white, .6);
  padding: 5px 0;
  overflow: hidden;
  min-height: 43px;
}

.slide-up {
  cursor: pointer;
  &:hover {
    background-color: darken($panel-default-heading-bg, 20%);
  }
}

.partidas-index {
  .col-md-6 {
    position: relative;
    height: 60px;
  }
  .panel-default {
    position: absolute;
    bottom: 0;
    width: 578px;
  }
  .panel-body {
    width: 578px;
    height: 500px;
  }
}

.aberto {
  height: 400px;
}