.partida {
  width: 95%;
  float: left;
  margin: 20px 10px;
  display: none;
}

.oitavas,
.quartas,
.semifinais,
.terceiro_lugar,
.final {
  overflow: hidden;
  .partida {
    display: none;
  }
  .rodada {
    top: -165px;
  }
}

.oitavas {
  .barras {
    top: -190px;
  }
  .baixo {
    top: -170px;
  }
}

.rodada {
  text-align: center;
  overflow: hidden;
  margin: 5px;
  position: relative;
  top: -70px;
}

.palpite {
  width: 45px;
  display: inline-block;
}

.botao-palpite {
  margin-top: 10px;
}
