.partida {
  width: 95%;
  float: left;
  margin: 20px 10px;
  display: none;
}

.rodada {
  text-align: center;
  overflow: hidden;
  margin: 5px;
  position: relative;
  top: -70px;
}

.palpite {
  width: 45px;
  display: inline-block;
}

.botao-palpite {
  margin-top: 10px;
}
