<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<title>Grupos - Simulador Copa do Mundo</title>
	<meta charset="UTF-8" />
    <meta name="author" content="Márcio Duarte" />
    <meta name="description" content="Tabela com os grupos da Copa do Mundo e sua classificação de acordo com os jogos ou o resultado dos palpites enviados." />
    <meta name="keywords" content="simulador,futebol,copa,copa do mundo,fifa 2010,África do Sul 2010,jogos,resultados,tabela da copa,partidas,grupos,placar,times na copa.classificacao" />
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/geral.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/grupos.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.1.custom.css" />	

    <script type="text/javascript" src="/media/js/lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/media/js/lib/jquery.meio.mask.js"></script>

     <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17020062-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    {% include "cabecalho.html" %}
    {% if atual %}
        <h2>Classificação atual da Copa do Mundo</h2>
    {% else %}
        <h2>Classificação simulada da Copa do Mundo</h2>
    {% endif %}
    <div class="layout-esquerdo">
        <ul class="indice">
            <li><a href="/classificacao.html" title="Classificação segundo a simulação"><div>Classificação simulada</div></a></li>
            <li><a href="/classificacao_atual.html" title="Classificação real"><div>Classificação real</div></a></li>
            <li><a href="/rodada/rodada_1/"><div>1ª rodada</div></a></li>
            <li><a href="/rodada/rodada_2/"><div>2ª rodada</div></a></li>
            <li><a href="/rodada/rodada_3/"><div>3ª rodada</div></a></li>
            <li><a href="/rodada/oitavas/"><div>Oitavas</div></a></li>
            <li><a href="/rodada/quartas/"><div>Quartas</div></a></li>
            <li><a href="/rodada/semifinais/"><div>Semifinais</div></a></li>
            <li><a href="/rodada/terceiro_lugar/"><div>Terceiro lugar</div></a></li>
            <li><a href="/rodada/final/"><div>Grande Final</div></a></li>
            <li><a href="/partidas.html" title="Se se navegador não suporta JavaScript, acesse esse link para ver todas as partidas de todas as rodadas."><div>Todas</div></a></li>
        </ul>
    </div>
    <div class="layout-centro">
    {% if atual %}
    <p>
        A tabela abaixo usa o resultado real das partidas para mostrar a classificação atual.<br /><a href="classificacao.html" title="Classificação dos times na copa segundo a simulação.">Clique aqui para ver a classificação final</a> segundo a simulação do site.
    </p>
    {% else %}
    <p>
        A tabela abaixo usa a simulação calculada pelo site para mostrar a classificação final. Ela não representa a posição atual dos times na copa.<br /><a href="classificacao_atual.html" title="Classificação dos times na copa.">Clique aqui para ver a classificação atual.</a>
    </p>
    {% endif %}
    <ul class="grupo">
	{% for grupo in grupos %}
	    <li class="grupo">
            <table>
                <thead>
                    <tr>
                        <td colspan="2" title="Grupo {{grupo.nome}}">Grupo {{grupo.nome}}</td>
                        <td class="pontos" title="Pontos">P</td>
                        <td class="jogos" title="Jogos">J</td>
                        <td class="vitorias" title="Vitórias">V</td>
                        <td class="empates" title="Empates">E</td>
                        <td class="derrotas" title="Derrotas">D</td>
                        <td class="gols-feitos" title="Gols Pró">GP</td>
                        <td class="gols-tomados" title="Gols Contra">GC</td>
                        <td class="saldo-de-gols" title="Saldo de Gols">SG</td>
                        <td class="aproveitamento" title="Aproveitamento">%</td>
                    </tr>
                </thead>
                <tbody class="grupo_a">
        	    {% for time in grupo.times %}
                    <tr class="">
                        <td class="classificacao">
                            {{forloop.counter}}º
                        </td>
                        <td class="nome-time">
                            <div class="time esquerdo {{time.abreviatura}}" title="{{time.nome}}">{{time.nome}}</div>
                        </td>
                        <td class="pontos">{{time.pontos}}</td>
                        <td class="jogos">{{time.jogos}}</td>
                        <td class="vitorias">{{time.vitorias}}</td>
                        <td class="empates">{{time.empates}}</td>
                        <td class="derrotas">{{time.derrotas}}</td>
                        <td class="gols-feitos">{{time.gols_feitos}}</td>
                        <td class="gols-tomados">{{time.gols_tomados}}</td>
                        <td class="saldo-de-gols">{{time.saldo_de_gols}}</td>
                        <td class="aproveitamento">{{time.aproveitamento}}</td>
                    </tr>
	            {% endfor %}
	            </tbody>
	        </table>
        </li>
	{% endfor %}
    </ul>
    <div>
        <script type="text/javascript"><!--
        google_ad_client = "pub-8167110538900295";
        /* 728x90, criado 17/06/10 */
        google_ad_slot = "1475428285";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
</div>
{% include "rodape.html" %}
</body>
</html>