<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<title>Grupos - Simulador Copa do Mundo</title>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/geral.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/grupos.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.1.custom.css" />	

    <script type="text/javascript" src="/media/js/lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/media/js/lib/jquery.meio.mask.js"></script>
</head>
<body>
    <ul class="grupo">
	{% for grupo in grupos %}
	    <li class="grupo">
            <table>
                <thead>
                    <tr>
                        <td colspan="2" title="Grupo {{grupo.nome}}">Grupo {{grupo.nome}}</td>
                        <td class="pontos" title="Pontos">P</td>
                        <td class="jogos" title="Jogos">J</td>
                        <td class="vitorias" title="Vitórias">V</td>
                        <td class="empates" title="Empates">E</td>
                        <td class="derrotas" title="Derrotas">D</td>
                        <td class="gols-feitos" title="Gols Pró">GP</td>
                        <td class="gols-tomados" title="Gols Contra">GC</td>
                        <td class="saldo-de-gols" title="Saldo de Gols">SG</td>
                        <td class="aproveitamento" title="Aproveitamento">%</td>
                    </tr>
                </thead>
                <tbody class="grupo_a">
        	    {% for time in grupo.times %}
                    <tr class="">
                        <td class="classificacao">
                            {{forloop.counter}}º
                        </td>
                        <td class="nome-time">
                            <span class="time esquerdo {{time.abreviatura}}" title="{{time.nome}}">{{time.nome}}</span>
                        </td>
                        <td class="pontos">{{time.pontos}}</td>
                        <td class="jogos">{{time.jogos}}</td>
                        <td class="vitorias">{{time.vitorias}}</td>
                        <td class="empates">{{time.empates}}</td>
                        <td class="derrotas">{{time.derrotas}}</td>
                        <td class="gols-feitos">{{time.gols_feitos}}</td>
                        <td class="gols-tomados">{{time.gols_tomados}}</td>
                        <td class="saldo-de-gols">{{time.saldo_de_gols}}</td>
                        <td class="aproveitamento">{{time.aproveitamento}}</td>
                    </tr>
	            {% endfor %}
	            </tbody>
	        </table>
        </li>
	{% endfor %}
    </ul>
</body>
</html>