<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-BR">
<head>
	<title>Simulador da Copa do Mundo</title>
	<meta name="google-site-verification" content="ufF_BgXpalYSqe6Ligt2uELxA22cyIj_5tFIuGNk158" />
	<meta charset="UTF-8" />
    <meta name="author" content="Márcio Duarte" />
    <meta name="description" content="Simulador do resultado das partidas da Copa do Mundo baseado nos palpites dos visitantes. O resultado de cada partida é uma média simples: soma de todos os palpites de gols do time dividido pela quantidade de votos na patida." />
    <meta name="keywords" content="simulador,futebol,copa,copa do mundo,fifa 2010,África do Sul 2010,jogos,resultados,tabela da copa,partidas,grupos,placar,times da copa" />
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/geral.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/partidas.css" />

    <script type="text/javascript" src="/media/js/lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/media/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="/media/js/geral.js"></script>
    <script type="text/javascript" src="/media/js/partidas.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17020062-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    {% include "cabecalho.html" %}
    <div class="layout-esquerdo">
        {% include 'indice.html' %}
    </div>
    <div class="layout-centro">
        <p>Diferente dos simuladores disponíveis, o seu palpite é acumulado com todos os palpites realizados até o momento. O resultado de cada partida é uma média simples: soma de todos os palpites de gols do time dividido pela quantidade de votos na partida.</p>
        <p>A idéia é que, quanto mais pessoas participarem, mais chances desses resultados estarem certos. A não ser que aconteça alguma zebra como Espanha x Suiça, Alemanha x Sérvia :D...</p>
        <p>A tabela com as partidas e seus resultados poderão ser acessadas nos links ao lado. As partidas não realizadas poderão receber os palpites.</p>
        <p>Acompanhe também, nessa página, o placar das partidas em andamento.</p>
        <p>Com a chegada das fases mata-mata, uma nova página foi lançada. Acesso pelo menu ao lado a página de Mata-mata.</p>
        <div class="rodadas">
        	{% for rodada in rodadas %}
        	    {% if rodada.partidas %}
        	    <div class="partidas">
        	        {% ifequal rodada.id 'final' %}
                    <h2 class="final">Por enquanto a final será:</h2>
                    {% endifequal %}
        	        {% ifequal rodada.id 'em_andamento' %}
                    <h2 class="em_andamento">Partidas em jogo:</h2>
                    {% endifequal %}
                {% for partida in rodada.partidas %}
                    <ul class="partidas">
                        {% include "partida_tag.html" %}
                    </ul>
                {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="layout-direito">
        <script type="text/javascript"><!--
        google_ad_client = "pub-8167110538900295";
        /* 160x600, criado 17/06/10 */
        google_ad_slot = "7420975388";
        google_ad_width = 160;
        google_ad_height = 600;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    {% include "rodape.html" %}
</body>
</html>