<ul class="indice">
    <li><a href="/chaves.html" title="Rodadas do mata-mata em chaves"><div>Mata-mata</div></a></li>
    <li><a href="/classificacao.html" title="Classificação segundo a simulação"><div>Classificação simulada</div></a></li>
    <li><a href="/classificacao_atual.html" title="Classificação real"><div>Classificação real</div></a></li>
    <li><a href="/rodada/rodada_1/"><div>1ª rodada</div></a></li>
    <li><a href="/rodada/rodada_2/"><div>2ª rodada</div></a></li>
    <li><a href="/rodada/rodada_3/"><div>3ª rodada</div></a></li>
    <li><a href="/rodada/oitavas/"><div>Oitavas</div></a></li>
    <li><a href="/rodada/quartas/"><div>Quartas</div></a></li>
    <li><a href="/rodada/semifinais/"><div>Semifinais</div></a></li>
    <li><a href="/rodada/terceiro_lugar/"><div>Terceiro lugar</div></a></li>
    <li><a href="/rodada/final/"><div>Grande Final</div></a></li>
    <li><a href="/partidas.html" title="Se se navegador não suporta JavaScript, acesse esse link para ver todas as partidas de todas as rodadas."><div>Todas</div></a></li>
</ul>
