<!DOCTYPE HTML>
<html lang="pr-BR">
<head>
	<title>Partidas - Simulador Copa do Mundo</title>
	<meta charset="UTF-8">
    <meta name="author" content="Márcio Duarte" />
    <meta name="description" content="Tabela com as partidas e seus resultados. As partidas não realizadas poderão receber palpites. Esses palpites irão compor a simulação das próximas fases." />
    <meta name="keywords" content="simulador,futebol,copa,copa do mundo,fifa 2010,África do Sul 2010,jogos,resultados,tabela da copa,partidas,grupos" />
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/geral.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/partidas.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.1.custom.css" />	

    <script type="text/javascript" src="/media/js/lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/media/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="/media/js/partidas.js"></script>
</head>
<body>
    <p><a href="/index.html">Home</a></p>
    <div id="tabs" class="rodadas">
        <ul class="indice">
        	{% for rodada in rodadas %}
                <li><a href="#{{rodada.id}}">{{rodada.nome}}</a></li>
            {% endfor %}
        </ul>
    	{% for rodada in rodadas %}
            <div id="{{rodada.id}}" class="rodada">
        	    <h1 class="nome-rodada">{{rodada.nome}}</h1>
                <ul class="partidas">
        	    {% for partida in rodada.partidas %}
        	        <li class="partida" id="partida_{{partida.id}}">
        	            <h2 class="data{% if partida.realizada %} realizada{% endif %}">{{partida.data|date:"D d M Y H:i"}}{% if partida.realizada %} - Realizada{% endif %}</h2><br />
        	            {% if partida.realizada %}
                            <span class="time esquerdo {{partida.time_1.abreviatura}}" title="{{partida.time_1.nome}}">{{partida.time_1.nome}}</span>
                            <span class="gols">{{partida.gols_time_1}}</span>
                            X
                            <span class="gols">{{partida.gols_time_2}}</span>
                            <span class="time direito {{partida.time_2.abreviatura}}" title="{{partida.time_2.nome}}">{{partida.time_2.nome}}</span>
                        {% else %}
                            <form action="/registra_palpite/">
                                <input type="hidden" name="partida_id" value="{{partida.id}}" />
                                <input type="hidden" name="rodada_id" value="{{rodada.id}}" />
                                <span class="time esquerdo {{partida.time_1.abreviatura}}" title="{{partida.time_1.nome}}">{{partida.time_1.nome}}</span>
                                <input class="palpite" type="text" name="palpiteTime1" title="Palpite para {{partida.time_1.nome}}" maxlength="1" />
                                X
                                <input class="palpite" type="text" name="palpiteTime2" title="Palpite para {{partida.time_2.nome}}" maxlength="1" />
                                <span class="time direito {{partida.time_2.abreviatura}}" title="{{partida.time_2.nome}}">{{partida.time_2.nome}}</span><br />
                                <div class="computado" style="display:none;">Palpite enviado</div>                            
                                <input type="submit" class="enviar" value="Enviar" title="Enviar palpite para {{partida.time_1.nome}} X {{partida.time_2.nome}}" />
                	        </form>
        	            {% endif %}
    	                <div class="resultado-parcial{% if partida.realizada %} realizada{% endif %}">
                            <h3 class="parcial">Resultado dos palpites:<span class="votos">Total: {{partida.votos}}</span></h3>
            	            {% if partida.votos %}
                                <span class="time esquerdo {{partida.time_1.abreviatura}}" title="{{partida.time_1.nome}}">{{partida.time_1.nome}}</span>
                                <span class="gols">{{partida.media_palpites_time_1}}</span>
                                X
                                <span class="gols">{{partida.media_palpites_time_2}}</span>
                                <span class="time direito {{partida.time_2.abreviatura}}" title="{{partida.time_2.nome}}">{{partida.time_2.nome}}</span>
                            {% else %}
                                <span class="nenhum-palpite">Não há palpites para essa partida</span>
            	            {% endif %}
        	            </div>
        	        </li>
        	    {% endfor %}
                </ul>
            </div>
            <hr />
    	{% endfor %}
    </div>
    <script type="text/javascript">
        $(function() {
            montaTabs({{index}});
        });
    </script>
</body>
</html>