<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<title>Partidas - Simulador Copa do Mundo</title>
	<meta charset="UTF-8" />
    <meta name="author" content="Márcio Duarte" />
    <meta name="description" content="Tabela com as partidas e seus resultados. As partidas não realizadas poderão receber palpites. Esses palpites irão compor a simulação das próximas fases." />
    <meta name="keywords" content="simulador,futebol,copa,copa do mundo,fifa 2010,África do Sul 2010,jogos,resultados,tabela da copa,partidas,grupos" />
    <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/geral.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/partidas.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/jquery-ui-1.8.1.custom.css" />	

    <script type="text/javascript" src="/media/js/lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery-ui-1.8.1.custom.min.js"></script>    
    <script type="text/javascript" src="/media/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="/media/js/lib/jquery.meio.mask.js"></script>
    <script type="text/javascript" src="/media/js/partidas.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17020062-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <p><a href="/index.html">Home</a></p>
    <div>
        <script type="text/javascript"><!--
        google_ad_client = "pub-8167110538900295";
        /* 728x90, criado 17/06/10 */
        google_ad_slot = "1475428285";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
    </div>
    <div id="tabs" class="rodadas">
        <ul class="indice">
        	{% for rodada in rodadas %}
                <li><a href="#{{rodada.id}}">{{rodada.nome}}</a></li>
            {% endfor %}
        </ul>
    	{% for rodada in rodadas %}
            <div id="{{rodada.id}}" class="rodada">
        	    <h1 class="nome-rodada">{{rodada.nome}}</h1>
                <ul class="partidas">
        	    {% for partida in rodada.partidas %}
        	        <li class="partida" id="partida_{{partida.id}}">
        	            <h2 class="data{% if partida.realizada %} realizada{% endif %}{% if partida.em_andamento %} andamento{% endif %}">{{partida.data|date:"D d M Y H:i"}}{% if partida.realizada %} - Realizada{% endif %}{% if partida.em_andamento %} - Em jogo{% endif %}</h2><br />
        	            {% if partida.realizada or partida.em_andamento %}
                            <div class="time esquerdo {{partida.time_1.abreviatura}}" title="{{partida.time_1.nome}}">{{partida.time_1.nome|default:'Não definido'}}</div>
                            <span class="gols">{{partida.gols_time_1|default:0}}</span>
                            X
                            <span class="gols">{{partida.gols_time_2|default:0}}</span>
                            <div class="time direito {{partida.time_2.abreviatura}}" title="{{partida.time_2.nome}}">{{partida.time_2.nome|default:'Não definido'}}</div>
                            {% if partida.em_andamento %}
                                <div class="encerrada">Votações encerradas</div>                      
                            {% endif %}                   
                        {% else %}
                            <form action="/registra_palpite/">
                                <input type="hidden" name="partida_id" value="{{partida.id}}" />
                                <input type="hidden" name="rodada_id" value="{{rodada.id}}" />
                                <div class="time esquerdo {{partida.time_1.abreviatura}}" title="{{partida.time_1.nome}}">{{partida.time_1.nome|default:'Não definido'}}</div>
                                <input class="palpite" type="text" name="palpiteTime1" title="Palpite para {{partida.time_1.nome}}" maxlength="1" />
                                X
                                <input class="palpite" type="text" name="palpiteTime2" title="Palpite para {{partida.time_2.nome}}" maxlength="1" />
                                <div class="time direito {{partida.time_2.abreviatura}}" title="{{partida.time_2.nome}}">{{partida.time_2.nome|default:'Não definido'}}</div><br />
                                <div class="computado" style="display:none;">Palpite enviado</div>
                                <input type="submit" class="enviar" value="Enviar" title="Enviar palpite para {{partida.time_1.nome}} X {{partida.time_2.nome}}" />
                	        </form>
        	            {% endif %}
    	                <div class="resultado-parcial{% if partida.realizada %} realizada{% endif %}{% if partida.em_andamento %} andamento{% endif %}">
                            <h3 class="parcial">Resultado dos palpites:<span class="votos">Total: {{partida.votos}}</span></h3>
                            <div class="time esquerdo {{partida.time_1.abreviatura}}" title="{{partida.time_1.nome}}">{{partida.time_1.nome|default:'Não definido'}}</div>
                            <span class="gols">{{partida.media_palpites_time_1}}</span>
                            X
                            <span class="gols">{{partida.media_palpites_time_2}}</span>
                            <div class="time direito {{partida.time_2.abreviatura}}" title="{{partida.time_2.nome}}">{{partida.time_2.nome|default:'Não definido'}}</div>
        	            </div>
        	        </li>
        	    {% endfor %}
                </ul>
            </div>
            <hr />
    	{% endfor %}
    </div>
    <script type="text/javascript">
        $(function() {
            montaTabs({{index}});
        });
    </script>
</body>
</html>