h1.titulo {
    font-family: helvetica;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #00923E;
    padding: 10px 0 8px 25px;
}

h1.titulo a {
    text-decoration: none;
    color: white;
}

p {
    font-family: helvetica;
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 18px;
    text-indent: 15px;
}

p.descricao {
    font-family: helvetica;
    font-size: 18px;
    padding: 5px 0 5px 25px;
    background-color: #28166F;
    border-top: 12px solid #F8C100;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    text-indent: 0;
    color: white;
}

div.layout-esquerdo {
    float: left;
    margin: 0 5px 0 100px;
    width: 180px;
    padding: 6px;
    letter-spacing: 1px;
    line-height: 24px;
    border: 1px solid gray;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.layout-centro {
    float: left;
    border: 1px solid gray;
    margin: 0 5px;
    width: 670px;
    padding: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.layout-direito {
    float: left;
    margin: 0 100px 0 5px;
    width: 160px;
}

div.time {
    font-size: 12px;
    border-top: solid #AAA 1px;
    border-bottom: solid #AAA 1px;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    display: inline-block;
    width: 89px;
    padding: 2px;
    background-image: url(/media/img/sprite_copa_bandeiras_18x12.png);
}

div.esquerdo {
    margin-right: 4px;
    padding-right: 22px;
    text-align: right;
    background-position: 92px 1px;
}

div.direito {
    margin-left: 4px;
    padding-left: 22px;
    text-align: left;
    background-position: 0px 1px;
}

div.resultado-parcial div.esquerdo {
    margin-right: 0;
}

div.resultado-parcial div.direito {
    margin-left: 0;
}

div.ar.esquerdo {
    background-position: 92px -74px;
}

div.ar.direito {
    background-position: 0px -74px;
}

div.au.esquerdo {
    background-position: 92px -209px;
}

div.au.direito {
    background-position: 0px -209px;
}

div.br.esquerdo {
    background-position: 92px -374px;
}

div.br.direito {
    background-position: 0px -374px;
}

div.ch.esquerdo {
    background-position: 92px -449px;
}

div.ch.direito {
    background-position: 0px -449px;
}

div.ci.esquerdo {
    background-position: 92px -404px;
}

div.ci.direito {
    background-position: 0px -404px;
}

div.cl.esquerdo {
    background-position: 92px -479px;
}

div.cl.direito {
    background-position: 0px -479px;
}

div.cm.esquerdo {
    background-position: 92px -299px;
}

div.cm.direito {
    background-position: 0px -299px;
}

div.de.esquerdo {
    background-position: 92px -194px;
}

div.de.direito {
    background-position: 0px -194px;
}

div.dk.esquerdo {
    background-position: 92px -269px;
}

div.dk.direito {
    background-position: 0px -269px;
}

div.dz.esquerdo {
    background-position: 92px -164px;
}

div.dz.direito {
    background-position: 0px -164px;
}

div.england.esquerdo {
    background-position: 92px -134px;
}

div.england.direito {
    background-position: 0px -134px;
}

div.es.esquerdo {
    background-position: 92px -434px;
}

div.es.direito {
    background-position: 0px -434px;
}

div.fr.esquerdo {
    background-position: 92px -59px;
}

div.fr.direito {
    background-position: 0px -59px;
}

div.ga.esquerdo {
    background-position: 92px -239px;
}

div.ga.direito {
    background-position: 0px -239px;
}

div.gr.esquerdo {
    background-position: 92px -119px;
}

div.gr.direito {
    background-position: 0px -119px;
}

div.hn.esquerdo {
    background-position: 92px -464px;
}

div.hn.direito {
    background-position: 0px -464px;
}

div.it.esquerdo {
    background-position: 92px -314px;
}

div.it.direito {
    background-position: 0px -314px;
}

div.jp.esquerdo {
    background-position: 92px -284px;
}

div.jp.direito {
    background-position: 0px -284px;
}

div.kp.esquerdo {
    background-position: 92px -389px;
}

div.kp.direito {
    background-position: 0px -389px;
}

div.kr.esquerdo {
    background-position: 92px -104px;
}

div.kr.direito {
    background-position: 0px -104px;
}

div.mx.esquerdo {
    background-position: 92px -29px;
}

div.mx.direito {
    background-position: 0px -29px;
}

div.ng.esquerdo {
    background-position: 92px -89px;
}

div.ng.direito {
    background-position: 0px -89px;
}

div.nl.esquerdo {
    background-position: 92px -254px;
}

div.nl.direito {
    background-position: 0px -254px;
}

div.nz.esquerdo {
    background-position: 92px -344px;
}

div.nz.direito {
    background-position: 0px -344px;
}

div.pt.esquerdo {
    background-position: 92px -419px;
}

div.pt.direito {
    background-position: 0px -419px;
}

div.py.esquerdo {
    background-position: 92px -329px;
}

div.py.direito {
    background-position: 0px -329px;
}

div.rs.esquerdo {
    background-position: 92px -224px;
}

div.rs.direito {
    background-position: 0px -224px;
}

div.si.esquerdo {
    background-position: 92px -179px;
}

div.si.direito {
    background-position: 0px -179px;
}

div.sk.esquerdo {
    background-position: 92px -359px;
}

div.sk.direito {
    background-position: 0px -359px;
}

div.us.esquerdo {
    background-position: 92px -149px;
}

div.us.direito {
    background-position: 0px -149px;
}

div.uy.esquerdo {
    background-position: 92px -44px;
}

div.uy.direito {
    background-position: 0px -44px;
}

div.za.esquerdo {
    background-position: 92px -14px;
}

div.za.direito {
    background-position: 0px -14px;
}

div.rodape {
    margin-top: 10px;
    font-family: helvetica;
    font-size: 11px;
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #FFA;
}

div.rodape ul {
    border: 1px solid #DDD;
    padding: 15px 80px;
    margin: 0 0 15px 78px;
    width: 910px;
    overflow: auto;
    text-align: center;
}

div.rodape ul li {
    margin-left: 12px;
    float: left;
}

div.rodape ul li a {
    font-family: arial;
    font-size: 12px;
    color: blue;
}

li input.enviar {
    margin-top: 5px;
    background: transparent url(/media/img/bkg_form_btns.png) no-repeat;
    background-position: 0 -127px;
    border: 1px solid #f0f0f0;
    border-width:0 1px 0 1px;
    color: #1F79FF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    padding: 2px 9px 5px;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

input.palpite {
    width: 9px;
    font-size: 14px !important;
    text-align: right;
}

input.palpite.esquerdo {
    margin-left: -3px;
}

input.palpite.direito {
    margin-right: -3px;
}


li.partida {
    margin-bottom: 20px;
    margin-right: 5px;
    width: 290px;
    height: 150px;
    border-bottom: 1px solid gray;
    background-color: #FAFAFA;
}

li.partida div.computado {
    padding: 3px;
    background: #FFA url(/media/img/fundo_enviado.png) repeat-x;
    border: 1px solid #363;
    font-size: 16px;
    margin: 5px 65px 0px;
    color: #363;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

li.partida div.encerrada {
    padding: 3px;
    background-color: #D00;
    border: 1px solid gray;
    font-size: 16px;
    margin: 6px 40px 0;
    color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

li.partida div.palpite {
    border: 1px solid;
    font-size: 16px;
    margin: 6px 0 0 0;
    display: inline-block;
    width: 125px;
    background-repeat: no-repeat;
    background-position: 1px -3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

li.partida div.certo {
    border-color: #2b442b;
    color: #2b442b;
    background: #a4dc8e url(/media/img/fundo_certo.png) repeat-x;
}

li.partida div.errado {
    border-color: #6f1d1d;
    color: #6f1d1d;
    background: #e8bdbd url(/media/img/fundo_errado.png) repeat-x;
}

li.partida div.palpite div.certo {
    padding: 3px;
    background: transparent url(/media/img/thumbs_up.png) 2px -3px no-repeat;
}

li.partida div.palpite div.errado {
    padding: 3px;
    background: transparent url(/media/img/thumbs_down.png) 1px -3px no-repeat;
}

h2.data {
    text-align: right;
    border-bottom: 1px solid #DDD;
    padding: 3px 2px;
    background: #F1F1F1 url(/media/img/fundo_data.png) repeat-x;
    font-size: 16px;
    font-weight: normal;
    color: #555;
    margin-bottom: 4px;
}

h2.realizada {
    background-color: #f1f1f1;
    background-image: url(/media/img/fundo_data_realizada.png);
    margin-bottom: 8px;
}

h2.andamento {
    background-color: #FF0;
    background-image: url(/media/img/fundo_data_em_andamento.png);
    color: black;
    margin-bottom: 8px;
}

li div.resultado-parcial {
    padding-bottom: 4px;
    margin-top: 6px;
    display: none;
}

li div.realizada {
    margin-top: 8px;
    display: block;
}

li div.andamento {
    margin-top: 8px;
    display: block;
}

li div.resultado-parcial h3.parcial {
    color: gray;
    background: #DFDFDF url(/media/img/fundo_resultado.png) repeat-x;
    padding: 4px;
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

li div.resultado-parcial span.votos {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
    padding-left: 49px;
}

li div.resultado-parcial span.gols {
    padding: 0px 1px 0 2px;
    border: solid #228822 1px;
    background-color: #FEE;
    color: #228822;
    font-size: 16px;
}

li div.resultado-parcial span.nenhum-palpite {
    font-size: 14px;
}
