
div.time {
    font-size: 12px;
    border-top: solid #AAA 1px;
    border-bottom: solid #AAA 1px;
    background-color: #FAFAFA;
    background-repeat: no-repeat;
    display: inline-block;
    width: 92px;
    padding: 3px;
}

div.esquerdo {
    padding-right: 18px;
    text-align: right;
    background-position: center right;
}

div.direito {
    padding-left: 18px;
    text-align: left;
    background-position: center left;
}

div.ar {
    background-image: url(/media/img/gif/ar.gif);
}

div.au {
    background-image: url(/media/img/gif/au.gif);
}

div.br {
    background-image: url(/media/img/gif/br.gif);
}

div.ch {
    background-image: url(/media/img/gif/ch.gif);
}

div.ci {
    background-image: url(/media/img/gif/ci.gif);
}

div.cl {
    background-image: url(/media/img/gif/cl.gif);
}

div.cm {
    background-image: url(/media/img/gif/cm.gif);
}

div.de {
    background-image: url(/media/img/gif/de.gif);
}

div.dk {
    background-image: url(/media/img/gif/dk.gif);
}

div.dz {
    background-image: url(/media/img/gif/dz.gif);
}

div.england {
    background-image: url(/media/img/gif/england.gif);
}

div.es {
    background-image: url(/media/img/gif/es.gif);
}

div.fr {
    background-image: url(/media/img/gif/fr.gif);
}

div.ga {
    background-image: url(/media/img/gif/ga.gif);
}

div.gr {
    background-image: url(/media/img/gif/gr.gif);
}

div.hn {
    background-image: url(/media/img/gif/hn.gif);
}

div.it {
    background-image: url(/media/img/gif/it.gif);
}

div.jp {
    background-image: url(/media/img/gif/jp.gif);
}

div.kp {
    background-image: url(/media/img/gif/kp.gif);
}

div.kr {
    background-image: url(/media/img/gif/kr.gif);
}

div.mx {
    background-image: url(/media/img/gif/mx.gif);
}

div.ng {
    background-image: url(/media/img/gif/ng.gif);
}

div.nl {
    background-image: url(/media/img/gif/nl.gif);
}

div.nz {
    background-image: url(/media/img/gif/nz.gif);
}

div.pt {
    background-image: url(/media/img/gif/pt.gif);
}

div.py {
    background-image: url(/media/img/gif/py.gif);
}

div.rs {
    background-image: url(/media/img/gif/rs.gif);
}

div.si {
    background-image: url(/media/img/gif/si.gif);
}

div.sk {
    background-image: url(/media/img/gif/sk.gif);
}

div.us {
    background-image: url(/media/img/gif/us.gif);
}

div.uy {
    background-image: url(/media/img/gif/uy.gif);
}

div.za {
    background-image: url(/media/img/gif/za.gif);
}
