li.grupo {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    height: 150px;
    width: 450px;
    border: solid #AAFFAA 1px;
    padding: 3px;
    font-family: arial;
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

li.grupo table {
    border-spacing: 0px 0px;
    border-collapse: collapse;
    height: 100%;
    width: 100%;
    font: inherit;    
}

li.grupo table thead {
    display: table-header-group;
    vertical-align: middle;
    font: inherit;
}

li.grupo table thead tr {
    display: table-row;
    vertical-align: inherit;
    font: inherit;    
}

li.grupo table thead tr td {
    background-color: whiteSmoke;
    border-bottom: 3px solid #EEE;
    border-top: 1px solid #DEDEDE;
    color: #303030;
    height: 30px;
    width: 15px;
    text-align: center;
    font: inherit;    
}

li.grupo table tbody tr td {
    color: #303030;
    text-align: center;
    font: inherit;    
    border-bottom: 1px solid #DDD;
}

span.time {
    border: solid #FFF 1px;
    background-color: #FFF;
}

td.nome-time {
    text-align: left!important;
    width: 80px;
}

td.classificacao {
    padding-left: 5px;
    text-align: left!important;
    width: 15px;
    color: #AAA!important;
    font-size: 20px!important;
}

td.pontos {
    background-color: #aec6ff;
}

td.jogos {
    background-color: #EFEFEF;
}

td.vitorias {
    background-color: #baffcd;
}

td.empates {
    background-color: #feffae;
}

td.derrotas {
    background-color: #ffb0ae;
}

td.gols-feitos {
    background-color: #EFEFEF;
}

td.gols-tomados {
    background-color: #EFEFEF;
}

td.saldo-de-gols {
    background-color: #E5E5E5;
}

td.aproveitamento {
    background-color: #EFEFEF;
}