
h2 {
    font-family: helvetica;
    font-size: 18px;
    color: white;
    background-color: #090;
    text-align: left;
    padding: 4px 0 4px 5px;
}

div.layout-esquerdo li {
    background-color: #EFEFEF;
    border-top: 1px solid gray;
    width: 180px;
}

div.layout-esquerdo li:hover {
    background-color: #DDD;
}

div.layout-esquerdo a {
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
    color: #090;
}

div.layout-esquerdo a div {
    padding-left: 8px;
}

li.partida {
    float: none!important;
}

div.partidas {
    float:left;
    margin-left:20px;
    width:290px;
}