
div.rodadas {
    padding: 10px;
    text-align: center;
    font-family: arial;
}

div.rodadas hr {
    display: none;
}

div.rodada {
    clear: both;
    padding: 8px;
    border: solid #006600 1px;
    width: 98%;
    height: 150px;
}

div#rodada_1 {
    height: 660px;
}

div#rodada_2 {
    height: 660px;
}

div#rodada_3 {
    height: 660px;
}

div#oitavas {
    height: 320px;
}

h1.nome-rodada {
   color: black;
   background-color: #EFE;
   padding: 4px;
   text-align: left;
   display: none;
}

li.partida {
    float: left;
}