.bandeira {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 4px;
}

.br {
  background-position:-35px -210px;
}

.cr {
  background-position:-70px -35px;
}

.me {
  background-position:-140px -245px;
}

.ca {
  background-position:-245px -280px;
}

.es {
  background-position:-245px -35px;
}

.ho {
  background-position:-105px -70px;
}

.ch {
  background-position:-105px -210px;
}

.au {
  background-position:0px -420px;
}

.co {
  background-position:-140px -210px;
}

.gr {
  background-position:-70px -70px;
}

.cm {
  background-position:0px -315px;
}

.ja {
  background-position:-140px -420px;
}

.ur {
  background-position:-280px -210px;
}

.cs {
  background-position:-35px -245px;
}

.in {
  background-position:-175px -70px;
}

.it {
  background-position:0px -105px;
}

.su {
  background-position:-280px -140px
}

.eq {
  background-position:-175px -210px;
}

.fr {
  background-position:0px -70px;
}

.hn {
  background-position:-70px -245px;
}

.ar {
  background-position:0px -210px;
}

.bo {
  background-position:-280px 0px;
}

.ir {
  background-position:-70px -420px;
}

.ng {
  background-position:-245px -350px;
}

.al {
  background-position:-35px 0px;
}

.po {
  background-position:-70px -140px;
}

.ga {
  background-position:-175px -315px;
}

.eu {
  background-position:0px -245px;
}

.be {
  background-position:-245px 0px;
}

.ag {
  background-position:-70px -280px;
}

.ru {
  background-position:-175px -140px;
}

.cd {
  background-position:-35px -420px;
}

.ndf {
  background-position:-35px -455px;
}