body {
  font-family: 'Arvo', serif;
}

.titulo-da-pagina {
  color: #EFEFEF;
  font-weight: bold;
  float: right;
  h1 {
    font-size: 43px;
    margin-top: 26px;
    color: $amarelo-ouro;
  }
}

.menu {
  border-top: $amarelo-ouro solid 3px;
  padding: 5px 0;
  .navbar {
    border-radius: 0;
  }
  .titulo-da-pagina {
    h1 {
      font-size: 17px;
      width: 125px;
      text-align: right;
      margin-top: 16px;
      margin-right: 15px;
    }
  }
}

$faixa-tamanho: 18px;
$faixa-tamanho-n: -18px;

.esquerdo, .direito {
  @include box-shadow(
    rgba(white, 0.5) $faixa-tamanho-n 0 5px -1px inset,
    rgba(white, 0.5) $faixa-tamanho 0 5px -1px inset
  );
}

.social {
  @include box-shadow(
    rgba(white, 0.5) 0 $faixa-tamanho 5px -1px inset
  );
}

.menu {
  @include box-shadow(
    rgba(white, 0.5) 0 $faixa-tamanho-n 5px -1px inset
  );
}

.cabecalho-container {
  @include box-shadow(
    rgba(white, 0.5) 0 $faixa-tamanho 5px -1px inset
  );
}

.logo-menor {
  width: 125px;
}

footer {
  font-size: 10px;
  min-height: 20px;
  .logo {
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .navbar-absolute {
    position: absolute;
    margin: 0;
  }
  .conteudo {
    .esquerdo, .direito {
      display: none;
    }
  }
  .cabecalho {
    display: none;
    &.flex {
        display: none;
    }
  }
  .menu {
    .titulo-da-pagina {
      h1 {
        font-size: 13px;
        width: 95px;
        margin-top: 19px;
      }
    }
  }
}

.cabecalho {
  .titulo, .titulo-da-pagina {
    padding: 2px 10px;
  }
}

.inicial, .classificacao {
  overflow: auto;
}

.central {
  padding: 20px 20px 0 20px;
}

.topo {
  min-height: 17px;
}

.titulo {
  margin: -2px 0 -4px;
  width: 260px;
  height: 95px;
  display: inline-block;
}

.bola {
  cursor: pointer;
  width: 70px;
  height: 64px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
}

.ad-sense {
  padding: 10px 0;
}

.introducao {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  top: -85px;
  .texto {
    display: none;
  }
  p {
    margin: 16px 0;
    color: #EFEFEF;
    font-size: 14px;
  }
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.social {
  border-bottom: 3px solid $amarelo-ouro;
  min-height: 55px;
}

.branco {
  margin: 17px 0 0;
  padding-top: 8px;
  overflow: hidden;
  min-height: 36px;
}

.slide-up {
  cursor: pointer;
}

.partidas-index {
  .col-md-6 {
    position: relative;
    height: 60px;
  }
  .painel {
    position: absolute;
    left: 5.2%;
    width: 90%;
    bottom: -52px;
    display: none;
    .corpo-painel {
      display: none;
      color: #EFEFEF;
      height: 300px;
    }
  }
}

.aberto {
  height: 400px;
}

.barras, .barras-baixo {
  width: 55%;
  margin-bottom: -30px;
  height: 35px;
  position: relative;
  top: -105px;
  left: 22.5%;
  border-width: 0 15px ;
  border-style: solid;
  border-image: linear-gradient(to left, black, #AAA) 1 100%;
}

.barras-baixo {
  top: 66px;
  height: 60px;
  display: none;
}

.painel {
  border-width: 4px;
  border-style: solid;
  border-color: #9A9A9A;
  h3 {
    margin: -9px;
    padding: 7px;
    color: #ffff00;
    position: relative;
    top: 0;
  }
}

.grupos-classificando {
  overflow: auto;
  max-height: 98px;
  .times {
    overflow: hidden;
    margin-top: 6px;
  }
  .grupo, .time {
    float: left;
  }
  .time {
    font-size: 8px;
    padding: 0 13px;
  }
  .grupo {
    border: 1px solid #333;
    padding: 0;
    margin: 4px 4%;
    overflow: hidden;
    .nome {
      a {
        color: #ffff00;
      }
      margin: -6px;
      padding: 4px 0 2px;
      position: relative;
      font-size: 10px;
      top: 0;
    }
  }
}