.grupos {
  overflow: auto;
  .col-md-4 {
    padding: 0 8px;
  }
}

.classificacao {
  overflow: hidden;
}

.classificacoes {
  .posicao {
    width: 1%;
  }
  .pontos, .jogos, .vitorias, .empates, .derrotas, .gols-feitos, .gols-tomados, .saldo-de-gols, .aproveitamento {
    width: 8%;
  }
  .label {
    padding: 1px 8%;
  }
}

.tabela-classificacao {
  position: relative;
  top: -85px;
  .corpo {
    display: none;
    margin-top: 25px;
  }
}

.legenda {
  margin-top: 5px;
  background-color: $gray-lighter;
}