.partida {
  width: 100%;
  float: left;
  margin-top: 20px;
  .panel-body {
    padding-top: 0;
  }
  h4 {
    margin: 0;
  }
}

.oitavas,
.quartas,
.semifinais,
.terceiro_lugar,
.final {
  overflow-y: auto;
  overflow-x: hidden;
  .rodada {
    top: -165px;
  }
}

.oitavas {
  .barras {
    top: -190px;
  }
  .baixo {
    top: -170px;
  }
}

.rodada {
  text-align: center;
  overflow: hidden;
  margin: 5px;
  position: relative;
  top: -70px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.palpite {
  width: 28px;
  display: inline-block;
  input {
    padding: 5px 7px;
    font-family: 'Graduate', cursive;
    font-size: 18px;
    font-weight: bold;
    height: 37px;
  }
}

.botao-palpite {
  margin-top: 10px;
}

.gols {
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid $btn-primary-border;
  font-family: 'Graduate', cursive;
  font-size: 18px;
  font-weight: bold;
}

.resultado-palpite {
  margin: 0 -13px 0;
  padding: 4px 0;
}

.resultado-simulado {
  margin: 0 -6px 0;
  padding: 4px 0;
}

.resultado-real {
  padding: 4px 0;
  margin: 0 -3px 4px;
}

.campos-palpite, .placar-final, .placar-simulado, .placar-palpite {
  margin-top: 15px;
}

.campos-palpite, .placar-final, .placar-simulado {
  margin-left: -10px;
  margin-right: -10px;
}

.abreviatura {
  font-size: 12px;
}
