{% load humanize %}
                    <div class="panel panel-default partida" data-partida="{{ partida.id }}">
                        <div class="panel-heading">
                            <div class="panel-title">
                            {% if mata_mata %}
                                <h4 class="estadio">
                                    {{ partida.local.nome }}
                                </h4>
                                <div class="cidade">
                                    {{ partida.local.cidade_e_estado }}
                                </div>
                            {% else %}
                            <h4>{{ partida.data|date:"d M - H:i" }}</h4>
                            {% endif %}
                            {% if partida.realizada %}
                                Realizada
                            {% endif %}
                            {% if partida.em_andamento %}
                                Em andamento
                            {% endif %}
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            {% if partida.realizada or partida.em_andamento %}
                            <div class="placar-final">
                                <h4 class="resultado-real">{% if partida.realizada %}Placar final{% else %}Placar atual{% endif %}</h4>
                                <div class="placar">
                                    {% with final=True %}
                                    {% include 'includes/placar.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                            {% endif %}
                            <div class="placar-simulado" style="display: none;">
                                <h4 class="resultado-simulado">Placar simulado</h4>
                                <h5 class="parcial">Total de votos: <span class="votos">{{partida.votos|intcomma}}</span></h5>
                                {% with simulado=True %}
                                {% include 'includes/placar.html' %}
                                {% endwith %}
                                {% if partida.realizada %}
                                <div>
                                {% if partida.palpite_certo %}
                                    {% if partida.vitorioso_certo == 'CERTO' %}
                                        <span class="label label-success">Vencedor</span>
                                    {% elif partida.vitorioso_certo == 'EMPATE' %}
                                        <span class="label label-warning">Vencedor</span>
                                    {% else %}
                                        <span class="label label-danger">Vencedor</span>
                                    {% endif %}
                                    <span class="label label-success">Placar</span>
                                {% else %}
                                    {% if partida.vitorioso_certo == 'CERTO' %}
                                        <span class="label label-success">Vencedor</span>
                                    {% elif partida.vitorioso_certo == 'EMPATE' %}
                                        <span class="label label-warning">Vencedor</span>
                                    {% else %}
                                        <span class="label label-danger">Vencedor</span>
                                    {% endif %}
                                        <span class="label label-danger">Placar</span>
                                {% endif %}
                                </div>
                                {% endif %}
                            </div>
                            {% if not partida.realizada and not partida.em_andamento %}
                            <div class="placar-palpite">
                                {% if partida.time_1 and partida.time_2 %}
                                <h4 class="resultado-simulado">Dar um palpite</h4>
                                {% endif %}
                                <form action="{% url 'registra_palpite' %}" method="post" class="form-horizontal" role="form">
                                    {% csrf_token %}
                                    <input type="hidden" name="partida_id" value="{{partida.id}}" />
                                    <div class="campos-palpite">
                                    {% if partida.time_1 and partida.time_2 %}
                                    {% include 'includes/placar.html' %}
                                    {% else %}
                                    {% with final=True %}
                                    {% include 'includes/placar.html' %}
                                    {% endwith %}
                                    {% endif %}
                                    </div>
                                    {% if partida.time_1 and partida.time_2 %}
                                    <div class="botao-palpite">
                                        <button type="submit" class="btn btn-primary btn-sm">enviar</button>
                                    </div>
                                    {% endif %}
                            </form>
                            </div>
                            {% endif %}
                        </div>
                        <div class="panel-footer small">
                        {% if not mata_mata %}
                            <h4 class="estadio">
                                {{ partida.local.nome }}
                            </h4>
                            <div class="cidade">
                                {{ partida.local.cidade_e_estado }}
                            </div>
                        {% else %}
                            {{ partida.data|date:"H:i" }}
                        {% endif %}
                        </div>
                    </div>
