.chaves .partida {
    display: block;
}

p.chaves {
    margin-top: 15px;
    padding: 10px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.chaves-nome-rodada {
    padding: 4px;
    font-family: helvetica;
    font-size: 18px;
    margin-bottom: 5px;
}

h2.data {
    font-size: 11px;
}

h3.parcial {
    font-size: 12px!important;
    font-weight: normal!important;
    padding: 2px 6px!important;
    border-bottom: 1px solid #EFEFEF;
}

.chaves-rodada {
    float:left;
    text-align: center;
    width: 210px;
    font-family: arial;
    font-size: 14px;
}

.chaves-partida {
    width: 200px;
    height: 123px;
    margin-bottom: 9px;
}

li#partida_57 {
    position: relative;
    top: 339px;
}

li#partida_58 {
    position: relative;
    top: -61px;
}

li#partida_59 {
    position: relative;
    top: 339px;
}

li#partida_60 {
    position: relative;
    top: 472px;
}

li#partida_61 {
    position: relative;
    top: 205px;
}

li#partida_62 {
    position: relative;
    top: 605px;
}

.chaves-partida div.computado {
    margin:5px 40px 0;
}

.chaves-partida div.palpite {
    width: 90px;
    height: 18px;
    font-size: 12px;
}

li div.realizada {
    margin-top: 4px!important;
}

li div.resultado-parcial span.gols {
    font-size: 12px;
}

div#oitavas {
    margin-left: 110px;
}

div#final {
    position: relative;
    top: 405px;
    width: 200px;
}

div#terceiro_lugar {
    position: relative;
    top: 570px;
    left: -200px;
    width: 200px;
}

div.separador {
    float:left;
    width: 40px;
    height: 1183px;
}

div.fundo-chaves {
    height: 131px;
    margin-bottom: 1px;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

div#chave_1 {
    margin-top: 98px;
}

div#chave_2 {
    margin-top: 131px;
}

div#chave_3 {
    margin-top: 131px;
}

div#chave_4 {
    margin-top: 131px;
}

div#chave_5 {
    height: 265px;
    margin-top: 170px;
}

div#chave_6 {
    height: 265px;
    margin-top: 263px;
}

div#chave_7 {
    height:531px;
    margin-top:303px;
}

div.time {
    width: 38px;
}

div.esquerdo {
    margin-right: 4px;
    padding-right: 22px;
    text-align: right;
    background-position: 42px 1px;
}

div.direito {
    margin-left: 4px;
    padding-left: 22px;
    text-align: left;
    background-position: 0px 1px;
}

div.ar.esquerdo {
    background-position: 42px -74px;
}

div.ar.direito {
    background-position: 0px -74px;
}

div.au.esquerdo {
    background-position: 42px -209px;
}

div.au.direito {
    background-position: 0px -209px;
}

div.br.esquerdo {
    background-position: 42px -374px;
}

div.br.direito {
    background-position: 0px -374px;
}

div.ch.esquerdo {
    background-position: 42px -449px;
}

div.ch.direito {
    background-position: 0px -449px;
}

div.ci.esquerdo {
    background-position: 42px -404px;
}

div.ci.direito {
    background-position: 0px -404px;
}

div.cl.esquerdo {
    background-position: 42px -479px;
}

div.cl.direito {
    background-position: 0px -479px;
}

div.cm.esquerdo {
    background-position: 42px -299px;
}

div.cm.direito {
    background-position: 0px -299px;
}

div.de.esquerdo {
    background-position: 42px -194px;
}

div.de.direito {
    background-position: 0px -194px;
}

div.dk.esquerdo {
    background-position: 42px -269px;
}

div.dk.direito {
    background-position: 0px -269px;
}

div.dz.esquerdo {
    background-position: 42px -164px;
}

div.dz.direito {
    background-position: 0px -164px;
}

div.england.esquerdo {
    background-position: 42px -134px;
}

div.england.direito {
    background-position: 0px -134px;
}

div.es.esquerdo {
    background-position: 42px -434px;
}

div.es.direito {
    background-position: 0px -434px;
}

div.fr.esquerdo {
    background-position: 42px -59px;
}

div.fr.direito {
    background-position: 0px -59px;
}

div.ga.esquerdo {
    background-position: 42px -239px;
}

div.ga.direito {
    background-position: 0px -239px;
}

div.gr.esquerdo {
    background-position: 42px -119px;
}

div.gr.direito {
    background-position: 0px -119px;
}

div.hn.esquerdo {
    background-position: 42px -464px;
}

div.hn.direito {
    background-position: 0px -464px;
}

div.it.esquerdo {
    background-position: 42px -314px;
}

div.it.direito {
    background-position: 0px -314px;
}

div.jp.esquerdo {
    background-position: 42px -284px;
}

div.jp.direito {
    background-position: 0px -284px;
}

div.kp.esquerdo {
    background-position: 42px -389px;
}

div.kp.direito {
    background-position: 0px -389px;
}

div.kr.esquerdo {
    background-position: 42px -104px;
}

div.kr.direito {
    background-position: 0px -104px;
}

div.mx.esquerdo {
    background-position: 42px -29px;
}

div.mx.direito {
    background-position: 0px -29px;
}

div.ng.esquerdo {
    background-position: 42px -89px;
}

div.ng.direito {
    background-position: 0px -89px;
}

div.nl.esquerdo {
    background-position: 42px -254px;
}

div.nl.direito {
    background-position: 0px -254px;
}

div.nz.esquerdo {
    background-position: 42px -344px;
}

div.nz.direito {
    background-position: 0px -344px;
}

div.pt.esquerdo {
    background-position: 42px -419px;
}

div.pt.direito {
    background-position: 0px -419px;
}

div.py.esquerdo {
    background-position: 42px -329px;
}

div.py.direito {
    background-position: 0px -329px;
}

div.rs.esquerdo {
    background-position: 42px -224px;
}

div.rs.direito {
    background-position: 0px -224px;
}

div.si.esquerdo {
    background-position: 42px -179px;
}

div.si.direito {
    background-position: 0px -179px;
}

div.sk.esquerdo {
    background-position: 42px -359px;
}

div.sk.direito {
    background-position: 0px -359px;
}

div.us.esquerdo {
    background-position: 42px -149px;
}

div.us.direito {
    background-position: 0px -149px;
}

div.uy.esquerdo {
    background-position: 42px -44px;
}

div.uy.direito {
    background-position: 0px -44px;
}

div.za.esquerdo {
    background-position: 42px -14px;
}

div.za.direito {
    background-position: 0px -14px;
}

hr { display: none;}