{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="pt-BR">
<head>
	<meta name="google-site-verification" content="ufF_BgXpalYSqe6Ligt2uELxA22cyIj_5tFIuGNk158" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    <meta name="author" content="Márcio Duarte" />
    <meta name="description" content="Simulador do resultado das partidas da Copa do Mundo baseado nos palpites dos visitantes. O resultado de cada partida é uma média simples: soma de todos os palpites de gols do time dividido pela quantidade de votos na patida." />
    <meta name="keywords" content="simulador,futebol,copa,copa do mundo,fifa 2010,África do Sul 2010,jogos,resultados,tabela da copa,partidas,grupos,placar,times da copa" />

	<title>Simulador da Copa do Mundo</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    {% block css %}
    {% endblock css %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17020062-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body class="fundo-grama">
    <div id="fb-root"></div>
    <script type="application/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                cookie: true,
                status: true,
                appId: '880437195316693',
                xfbml: true,
                version: 'v2.0'
            });
        };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pt_BR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container-fluid cabecalho-container">
        <div class="row topo"></div>
        <div class="row fundo-grama-faixa-acima flex cabecalho">
            <div class="col-md-3">
                <a class="titulo" href="{% url 'index' %}"></a>
            </div>
            <div class="col-md-6 text-center">
                <div class="grupos-classificando">
                {% for grupo in grupos_classificando %}
                    {% include 'includes/grupo_classificando.html' %}
                {% endfor %}
                </div>
            </div>
            <div class="col-md-3 titulo-da-pagina"><h1>{{ titulo_da_pagina }}</h1></div>
        </div>
    </div>
    <div class="container-fluid fundo-grama-faixa-abaixo menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-bar">
                        <span class="sr-only">Navegue</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo-menor" href="/">

                    </a>
                    <div class="titulo-da-pagina"><h1>{{ titulo_da_pagina }}</h1></div>
                </div>
                <div class="collapse navbar-collapse" id="top-nav-bar">
                    <ul class="nav navbar-nav">
                        {% include 'includes/menu.html' %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row conteudo flex">
            <div class="col-md-2 lateral esquerdo fundo-grama-faixa-esquerda">
                <div class="andamento painel text-right">
                    <h3>Partidas em andamento <span class="fa fa-angle-double-right"></span></h3>
                </div>
                <div class="ad-sense">
                    <ins class="adsbygoogle"
                         style="display:block;"
                         data-ad-client="ca-pub-8167110538900295"
                         data-ad-slot="7420975388"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="col-md-8 central {{ css_fundo }}">
                <div class="painel partidas-andamento well-sm" data-posicao="fechado">
                    <h3>Partidas em andamento</h3>
                    <div class="corpo-painel">
                        {% if not partidas_atuais %}
                            <div class="panel panel-default partida">
                                <div class="panel-heading">
                                    <div class="panel-title text-center">
                                        <h4>Sem Jogo</h4>
                                    </div>
                                </div>
                                <div class="panel-body text-center">
                                    Não há partidas no momento
                                </div>
                                <div class="panel-footer small">
                                </div>
                            </div>
                        {% endif %}
                        {% for partida in partidas_atuais %}
                            {% include 'includes/partida.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="painel partidas-proximas well-sm" data-posicao="fechado">
                    <h3>Próximas</h3>
                    <div class="corpo-painel">
                        {% for partida in proximas_partidas %}
                            {% include 'includes/partida.html' %}
                        {% endfor %}
                    </div>
                </div>
                {% block conteudo %}
                {% endblock conteudo %}
            </div>
            <div class="col-md-2 lateral direito fundo-grama-faixa-direita">
                <div class="proximas painel">
                    <h3><span class="fa fa-angle-double-left"></span> Próximas partidas</h3>
                </div>
                <div class="ad-sense">
                    <ins class="adsbygoogle"
                         style="display:block;"
                         data-ad-client="ca-pub-8167110538900295"
                         data-ad-slot="7420975388"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>
        <div class="row social fundo-grama-faixa-acima">
            <div class="branco">
                <div class="col-md-7"></div>
                <div class="col-md-2">
                    <div class="fb-like" data-href="http://www.simuladorcopadomundo.com.br" data-share="true" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/geral.js' %}"></script>
    {% block js %}
    {% endblock js %}

{#    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>#}
</body>
</html>