{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/chaves.css" %}"/>
{% endblock css %}
{% block conteudo %}
    <p class="chaves">
        Nesta página você tem a visualização das partidas do mata-mata, de acordo com a simulação, de forma mais ampla para que vejam as próximas partidas e os possíveis adversários em uma única tela.
    </p>
    <br />
    <div id="tabs" class="row chaves-rodadas">
    	{% for rodada in rodadas %}
            <div id="{{rodada.id}}" class="chaves-rodada">
        	    <h2 class="chaves-nome-rodada">{{rodada.nome}}</h2>
                <ul class="chaves-partidas">
        	    {% for partida in rodada.partidas %}
                    {% include "includes/partida.html" %}
                {% empty %}
                    <li>Não há partidas no momento.</li>
        	    {% endfor %}
                </ul>
            </div>
            {% ifnotequal rodada.id 'terceiro_lugar' %}
                {% ifnotequal rodada.id 'final' %}
                    <div class="separador">
                        {% ifequal rodada.id 'oitavas' %}
                        <div id="chave_1" class="fundo-chaves">
                            &nbsp;
                        </div>
                        <div id="chave_2" class="fundo-chaves">
                            &nbsp;
                        </div>
                        <div id="chave_3" class="fundo-chaves">
                            &nbsp;
                        </div>
                        <div id="chave_4" class="fundo-chaves">
                            &nbsp;
                        </div>
                        {% endifequal %}
                        {% ifequal rodada.id 'quartas' %}
                        <div id="chave_5" class="fundo-chaves">
                            &nbsp;
                        </div>
                        <div id="chave_6" class="fundo-chaves">
                            &nbsp;
                        </div>
                        {% endifequal %}
                        {% ifequal rodada.id 'semifinais' %}
                        <div id="chave_7" class="fundo-chaves">
                            &nbsp;
                        </div>
                        {% endifequal %}
                    </div>
                {% endifnotequal %}
            {% endifnotequal %}
            <hr />
    	{% endfor %}
    </div>
{% endblock conteudo %}
