{% extends 'base.html' %}
{% load staticfiles %}
{% block conteudo %}
    <div class="barras"></div>
    <div class="painel tabela-classificacao well-sm">
        <h3>Classificação {% if atual %}atual{% else %}simulada{% endif %}</h3>
        <div class="corpo">
            <div class="classificacoes well-sm">
                <ul class="nav nav-pills">
                {% for grupo in grupos %}
                    <li{% if forloop.counter == 1 %} class="active"{% endif %}><a href="#grupo-{{ grupo.nome }}" data-toggle="tab">Grupo {{ grupo.nome }}</a></li>
                {% endfor %}
                </ul>
                <div class="tab-content">
                {% for grupo in grupos %}
                    <div class="tab-pane fade{% if forloop.counter == 1 %} in active{% endif %}" id="grupo-{{ grupo.nome }}">
                        <div class="panel panel-default">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <td colspan="2">Times</td>
                                        <td class="linha-titulo"><span title="Pontos" class="label label-info">P</span></td>
                                        <td class="linha-titulo"><span title="Jogos" class="label label-info">J</span></td>
                                        <td class="linha-titulo"><span title="Vitórias" class="label label-success">V</span></td>
                                        <td class="linha-titulo"><span title="Empates" class="label label-warning">E</span></td>
                                        <td class="linha-titulo"><span title="Derrotas" class="label label-danger">D</span></td>
                                        <td class="linha-titulo"><span title="Gols Pró" class="label label-gols-pro">GP</span></td>
                                        <td class="linha-titulo"><span title="Gols Contra" class="label label-gols-contra">GC</span></td>
                                        <td class="linha-titulo"><span title="Saldo de Gols" class="label label-info">SG</span></td>
                                        <td class="linha-titulo"><span title="Aproveitamento" class="label label-info">%</span></td>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if atual %}
                                {% for time in grupo.times_por_classificacao_real %}
                                    <tr class="{% if forloop.counter == 1 %}primeiro{% elif forloop.counter == 2 %}segundo{% else %}desclassificado{% endif %}">
                                        <td class="posicao">
                                            {{forloop.counter}}º
                                        </td>
                                        <td class="nome-time">
                                            <icon class="bandeira {{ time.sigla }}"></icon> {{time.abreviatura}}
                                        </td>
                                        <td class="pontos">{{time.classificacao_real.pontos}}</td>
                                        <td class="jogos">{{time.classificacao_real.jogos}}</td>
                                        <td class="vitorias">{{time.classificacao_real.vitorias}}</td>
                                        <td class="empates">{{time.classificacao_real.empates}}</td>
                                        <td class="derrotas">{{time.classificacao_real.derrotas }}</td>
                                        <td class="gols-feitos">{{time.classificacao_real.gols_feitos}}</td>
                                        <td class="gols-tomados">{{time.classificacao_real.gols_tomados}}</td>
                                        <td class="saldo-de-gols">{{time.classificacao_real.saldo_de_gols}}</td>
                                        <td class="aproveitamento">{{time.classificacao_real.aproveitamento}}</td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                {% for time in grupo.times_por_classificacao_simulada %}
                                    <tr class="{% if forloop.counter == 1 %}primeiro{% elif forloop.counter == 2 %}segundo{% else %}desclassificado{% endif %}">
                                        <td class="posicao">
                                            {{forloop.counter}}º
                                        </td>
                                        <td class="nome-time">
                                            <icon class="bandeira {{ time.sigla }}"></icon> {{time.abreviatura}}
                                        </td>
                                        <td class="pontos">{{time.classificacao_simulada.pontos}}</td>
                                        <td class="jogos">{{time.classificacao_simulada.jogos}}</td>
                                        <td class="vitorias">{{time.classificacao_simulada.vitorias}}</td>
                                        <td class="empates">{{time.classificacao_simulada.empates}}</td>
                                        <td class="derrotas">{{time.classificacao_simulada.derrotas }}</td>
                                        <td class="gols-feitos">{{time.classificacao_simulada.gols_feitos}}</td>
                                        <td class="gols-tomados">{{time.classificacao_simulada.gols_tomados}}</td>
                                        <td class="saldo-de-gols">{{time.classificacao_simulada.saldo_de_gols}}</td>
                                        <td class="aproveitamento">{{time.classificacao_simulada.aproveitamento}}</td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="legenda well-sm">
                <strong>Legenda</strong>:
                <div>
                <div class="label-container"><span class="label label-info"><strong>P</strong></span> Pontos</div>
                <div class="label-container"><span class="label label-info"><strong>J</strong></span> Quantidade de Jogos</div>
                <div class="label-container"><span class="label label-success"><strong>V</strong></span> Vitórias</div>
                <div class="label-container"><span class="label label-warning"><strong>E</strong></span> Empates</div>
                <div class="label-container"><span class="label label-danger"><strong>D</strong></span> Derrotas</div>
                </div>
                <div>
                <div class="label-container"><span class="label label-gols-pro"><strong>GP</strong></span> Gols Pró</div>
                <div class="label-container"><span class="label label-gols-contra"><strong>GC</strong></span> Gols Contra</div>
                <div class="label-container"><span class="label label-info"><strong>SG</strong></span> Saldo de Gols</div>
                <div class="label-container"><span class="label label-info"><strong >%</strong></span> Aproveitamento</div>
                </div>
            </div>
            <div class="legenda well-sm">
                <strong>Critérios de desempate</strong>:
                <span class="label label-info"><strong>P</strong></span>: Pontos <span class="fa fa-arrow-right"></span>
                <span class="label label-info"><strong>SG</strong></span>: Saldo de Gols  <span class="fa fa-arrow-right"></span>
                <span class="label label-gols-pro"><strong>GP</strong></span>: Gols Pró
                <div><strong>Fonte:</strong> <a href="http://copadomundo.uol.com.br/regulamento/" target="_blank">UOL - Regulamento da Copa do Mundo <span class="fa fa-external-link"></span></a></div>
            </div>
        </div>
    </div>
{% endblock conteudo %}

{% block js %}
    <script type="application/javascript" src="{% static 'js/classificacao.js' %}"></script>
{% endblock js %}