{% extends 'base.html' %}
{% load staticfiles %}
{% block conteudo %}
    <div class="row">
        {% for partida in partidas %}
            {% if forloop.counter0|divisibleby:2 %}
            {% if forloop.counter0 > 0 %}
                </div>
            </div>
            {% endif %}
            <div class="col-md-4">
                <div class="barras"></div>
                <div class="painel rodada well-sm">
                    <h3>{% if forloop.counter == 1 %}1{% elif forloop.counter == 3 %}2{% else %}3{% endif %}&#170; Rodada</h3>
            {% endif %}
            {% include 'includes/partida.html' %}
            {% if forloop.last %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock conteudo %}

{% block js %}
    <script type="application/javascript" src="{% static 'js/grupo.js' %}"></script>
{% endblock js %}