    <li><a href="{% url 'chaves' %}" title="Rodadas do mata-mata em chaves"><div>Mata-mata</div></a></li>
    <li><a href="{% url 'classificacao' %}" title="Classificação segundo a simulação"><div>Classificação simulada</div></a></li>
    <li><a href="{% url 'classificacao_atual' %}" title="Classificação real"><div>Classificação real</div></a></li>
    <li><a href="{% url 'rodada' 1 %}"><div>1ª rodada</div></a></li>
    <li><a href="{% url 'rodada' 2 %}"><div>2ª rodada</div></a></li>
    <li><a href="{% url 'rodada' 3 %}"><div>3ª rodada</div></a></li>
    <li><a href="{% url 'rodada' 'oitavas' %}"><div>Oitavas</div></a></li>
    <li><a href="{% url 'rodada' 'quartas' %}"><div>Quartas</div></a></li>
    <li><a href="{% url 'rodada' 'semifinais' %}"><div>Semifinais</div></a></li>
    <li><a href="{% url 'rodada' 'terceiro_lugar' %}"><div>Terceiro lugar</div></a></li>
    <li><a href="{% url 'rodada' 'final' %}"><div>Final</div></a></li>
    <li><a href="{% url 'partidas' %}" title="Se se navegador não suporta JavaScript, acesse esse link para ver todas as partidas de todas as rodadas."><div>Todas</div></a></li>
