    <li class="{% if pagina_atual == 'oitavas' %}active{% endif %}"><a href="{% url 'rodada' 'oitavas' %}"><div>Oitavas</div></a></li>
    <li class="{% if pagina_atual == 'quartas' %}active{% endif %}"><a href="{% url 'rodada' 'quartas' %}"><div>Quartas</div></a></li>
    <li class="{% if pagina_atual == 'semifinais' %}active{% endif %}"><a href="{% url 'rodada' 'semifinais' %}"><div>Semifinais</div></a></li>
    <li class="{% if pagina_atual == 'terceiro_lugar' %}active{% endif %}"><a href="{% url 'rodada' 'terceiro_lugar' %}"><div>Terceiro lugar</div></a></li>
    <li class="{% if pagina_atual == 'final' %}active{% endif %}"><a href="{% url 'rodada' 'final' %}"><div>Final</div></a></li>
