{% extends 'base.html' %}
{% load staticfiles %}
{% block conteudo %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="painel well-sm">
                <h3>Partidas de {{ titulo_da_pagina }}</h3>
                <ul class="list-group">
                {% for partida in partidas %}
                    {% include 'includes/partida_curta.html' %}
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock conteudo %}

{% block js %}
    <script type="application/javascript" src="{% static 'js/partidas.js' %}"></script>
{% endblock js %}