{% extends 'base.html' %}
{% block conteudo %}

    <div class="row">
        {% for partida in partidas %}
            {% if forloop.counter0|divisibleby:2 %}
            {% if forloop.counter0 > 0 %}
                </div>
            </div>
            {% endif %}
            <div class="col-md-4">
                <div class="painel rodada well-sm">
            {% endif %}
            {% include 'includes/partida.html' %}
            {% if forloop.last %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock conteudo %}
